.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 1280px;
  }
}

.button {
  padding: 7px 17px 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  outline: 0;
  border: 1px solid var(--orange-text-color);
}
.button__learn-more {
  background-color: var(--orange-auxiliry-color);
  color: #fff;
  background: linear-gradient(145deg, var(--orange-auxiliry-color), #ff9216);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.button__learn-more:hover, .button__learn-more:focus {
  background-color: #f5f5f5;
  color: var(--orange-text-color);
  border: 1px solid #f5f5f5;
  background: linear-gradient(145deg, #f5f5f5, #ffffff);
}
.button__learn-more:active {
  background-color: var(--orange-text-color);
  color: #ffffff;
  border: 1px solid var(--orange-text-color);
  background: linear-gradient(145deg, var(--orange-auxiliry-color), #ff9216);
}
.button__add {
  background-color: var(--white-bg-color);
  color: var(--orange-text-color);
}
.button__add:hover {
  background-color: #f5f5f5;
  color: var(--orange-text-color);
  border: 1px solid #ff8650;
}
.button__add:focus {
  background-color: #f5f5f5;
  color: var(--orange-text-color);
  border: 1px solid #ff8650;
}
.button__add:active {
  background-color: var(--white-bg-color);
  color: var(--orange-text-color);
  border: 1px solid var(--orange-text-color);
}
.button__add:active .product__small-icon--add {
  fill: var(--orange-text-color);
}
.button__add:active .product__small-icon--remove {
  fill: var(--white-bg-color);
}
.button__remove {
  background-color: var(--white-bg-color);
  color: var(--orange-text-color);
  max-width: 110px;
}
.button__remove:hover {
  background-color: #f5f5f5;
  color: var(--orange-text-color);
  border: 1px solid #ff8650;
}
.button__remove:focus {
  background-color: #f5f5f5;
  color: var(--orange-text-color);
  border: 1px solid #ff8650;
}
.button__remove:active {
  background-color: var(--white-bg-color);
  color: var(--orange-text-color);
  border: 1px solid var(--orange-text-color);
}
.button__remove:active .product__small-icon--add {
  fill: var(--orange-text-color);
}
.button__remove:active .product__small-icon--remove {
  fill: var(--white-bg-color);
}

.itc-select {
  position: relative;
  width: 93px;
  height: 34px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: var(--gray-text-color);
}

.itc-select__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 1.4;
  background-color: #fff;
  color: var(--orange-text-color);
  border: 1px solid var(--orange-text-color);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.itc-select__toggle:hover {
  background-color: var(--orange-text-color);
  color: var(--white-bg-color);
}

#text {
  color: #fd5103;
}

.itc-select__toggle::after {
  flex-shrink: 0;
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 1rem;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="100" width="100"%3E%3Cpath d="M97.625 25.3l-4.813-4.89c-1.668-1.606-3.616-2.41-5.84-2.41-2.27 0-4.194.804-5.777 2.41L50 52.087 18.806 20.412C17.223 18.805 15.298 18 13.03 18c-2.225 0-4.172.804-5.84 2.41l-4.75 4.89C.813 26.95 0 28.927 0 31.23c0 2.346.814 4.301 2.439 5.865l41.784 42.428C45.764 81.174 47.689 82 50 82c2.268 0 4.215-.826 5.84-2.476l41.784-42.428c1.584-1.608 2.376-3.563 2.376-5.865 0-2.26-.792-4.236-2.375-5.932z"/%3E%3C/svg%3E');
  background-size: cover;
  content: "";
  color: var(--orange-text-color);
}

.itc-select__toggle:focus {
  outline: none;
}

.itc-select_show .itc-select__toggle::after {
  transform: rotate(180deg);
}

.itc-select__dropdown {
  position: absolute;
  top: 2.5rem;
  right: 0;
  left: 0;
  z-index: 2;
  display: none;
  max-height: 5rem;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid var(--orange-text-color);
  border-radius: 4px;
}

.itc-select_show .itc-select__dropdown {
  display: block;
}

.itc-select_show .itc-select__backdrop {
  display: block;
}

.itc-select__options {
  margin: 0;
  padding: 0;
  list-style: none;
}

.itc-select__option {
  padding: 0.375rem 0.75rem;
}

.itc-select__option_selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e1f5fe;
}

.itc-select__option_selected::after {
  width: 0.75rem;
  height: 0.75rem;
  color: #0277bd;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="svg-inline--fa fa-check fa-w-16" data-icon="check" data-prefix="fas" aria-hidden="true"%3E%3Cpath d="M33.964 85.547l-32.5-32.251a4.935 4.935 0 010-7.017l7.071-7.017a5.027 5.027 0 017.071 0L37.5 60.987l46.894-46.534a5.028 5.028 0 017.07 0l7.072 7.017a4.935 4.935 0 010 7.017l-57.5 57.06a5.027 5.027 0 01-7.072 0z" fill="%230277bd"/%3E%3C/svg%3E');
  background-size: cover;
  content: "";
}

.itc-select__option:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
}

a {
  text-decoration: none;
  color: var(--black-bg-color);
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.div-container__left {
  display: flex;
}

.logo__link {
  position: relative;
}

.logo__link-svg {
  top: 10px;
  position: absolute;
  top: -19px;
  right: 18px;
}

.logo {
  font-weight: 400;
  font-size: 22px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: var(--orange-text-color);
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 28px;
    line-height: 89%;
  }
}

.div-container__right {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 43px;
}
@media screen and (max-width: 1200px) {
  .site-nav {
    display: none;
  }
}

.site-nav__list {
  display: flex;
  gap: 60px;
  align-items: flex-end;
}

.site-nav__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.02em;
  color: var(--black-bg-color);
}

.search-container__form {
  display: flex;
  width: 288px;
  height: 40px;
  border: 1px solid var(--orange-text-color);
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .search-container__form {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .search-container__form {
    margin-right: 40px;
  }
}

.search-container__form-mob {
  display: flex;
  height: 40px;
  margin: 44 20 0 20;
  border: 1px solid var(--orange-text-color);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .search-container__form-mob {
    display: none;
  }
}

.search-btn {
  background-color: transparent;
  border-right: 1px solid var(--orange-text-color);
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.imput__header {
  width: 100%;
  border: transparent;
}
.imput__header:focus {
  outline: none;
  border: none;
}
.imput__header:hover {
  outline: none;
  border: none;
}
.imput__header::placeholder {
  color: var(--gray-text-color);
}

.button__menu {
  display: inline-block;
  margin: 0;
  padding: 0;
  z-index: 9;
  background-color: transparent;
  border: 0;
  position: static;
}
.button__menu .icon-cross {
  display: none;
}
.button__menu.is-open {
  position: fixed;
  right: 20px;
  top: 20px;
  fill: var(--black-bg-color);
}
.button__menu.is-open .icon-cross {
  display: block;
}
.button__menu.is-open .icon-menu {
  display: none;
}
@media screen and (min-width: 1200px) {
  .button__menu {
    display: none;
  }
}

.js-open-menu {
  background-color: transparent;
  border-color: transparent;
}
@media screen and (min-width: 1199px) {
  .js-open-menu {
    display: none;
  }
}

.mob-menu__svg {
  align-self: center;
}

.backdrop-mob {
  width: 100%;
  height: 100%;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--white-bg-color);
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-mob.is-open {
  transform: translateX(0);
}
@media screen and (min-width: 1200px) {
  .backdrop-mob {
    display: none;
  }
}

.container__head {
  margin-top: 22px;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .container__head {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: flex-end;
    gap: 164px;
  }
}

.checkbox__mob {
  display: flex;
}

.mob-menu {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 63px;
  width: 100%;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    padding-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .logo__mob-menu {
    display: none;
  }
}

.mob-menu__wrap {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.mob-menu__nav {
  margin-top: 32px;
  margin-bottom: auto;
  margin-left: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .mob-menu__nav {
    margin-top: 60px;
  }
}

.mob-menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .mob-menu__list {
    margin-left: 320px;
  }
}

.mob-menu__item {
  font-weight: 400;
  font-size: 28px;
  line-height: 86%;
  color: var(--black-color);
  letter-spacing: 0.02em;
}

.mob-menu__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-close-menu {
  position: absolute;
  fill: var(--black-bg-color);
  display: flex;
  width: 32px;
  height: 32px;
  top: 19px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dropbtn {
  background-color: transparent;
  letter-spacing: 0.02em;
  color: var(--black-bg-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 133%;
  border: none;
  cursor: pointer;
}

.dropbtn-mob {
  font-weight: 400;
  font-size: 28px;
  line-height: 86%;
  letter-spacing: 0.02em;
  color: var(--black-color);
  padding: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white-bg-color);
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: var(--black-bg-color);
  padding: 12px;
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.02em;
}
.dropdown-content a:focus,
.dropdown-content a :hover {
  background-color: var(--orange-text-color);
  color: var(--white-bg-color);
}

.dropdown a:hover {
  background-color: var(--orange-text-color);
  color: var(--white-bg-color);
}

.show {
  display: block;
}

.dropdown-content-mob {
  background-color: transparent;
  border: 2px solid var(--orange-text-color);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 210px;
  margin-top: 10px;
}

.dropdown-content-desk {
  background-color: transparent;
  border: 2px solid var(--orange-text-color);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 210px;
  margin-top: 10px;
  margin-left: 10px;
}

/******************** Hide default HTML checkbox ***********************/
/* The switch - the box around the slider */
.checkbox {
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 1199.9px) {
  .checkbox {
    display: none;
  }
}

.checkbox__light {
  margin-right: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: var(--orange-text-color);
}

.checkbox__dark {
  margin-left: 52px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: var(--black-bg-color);
}

.switch {
  position: relative;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white-bg-color);
  border: 0.604701px solid var(--orange-text-color);
  border-radius: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px var(--black-bg-color);
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: var(--orange-text-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--orange-text-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  width: 40px;
  height: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.hero {
  display: block;
  position: relative;
  margin-bottom: 40px;
}
@media screen and (min-width: 480px) {
  .hero {
    width: 460px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    width: 704px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 1200px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__tittle {
  width: 300px;
  text-align: left;
  margin-bottom: 28px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  color: var(--orange-text-color);
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 42px;
}
@media screen and (min-width: 480px) {
  .hero__tittle {
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .hero__tittle {
    margin: 0;
    text-align: left;
    width: 336px;
    font-size: 26px;
    margin-top: 132px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__tittle {
    width: 684px;
    margin-top: 101px;
    margin-bottom: 36px;
    font-size: 52px;
    line-height: 80px;
  }
}

.hero__img {
  margin: 0;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  width: 307px;
  height: 274px;
}
@media screen and (min-width: 768px) {
  .hero__img {
    width: 368px;
    height: 330px;
    position: absolute;
    top: -35px;
    left: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__img {
    width: 550px;
    height: 490px;
    top: -15px;
    left: 680px;
  }
}

.hero__text {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--black-color);
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .hero__text {
    text-align: left;
    margin-bottom: 40px;
    color: var(--black-bg-color);
  }
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 18px;
    margin-bottom: 47px;
  }
}

.hero-list__item {
  cursor: pointer;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--gray-text-color);
}
.hero-list__item:hover {
  color: var(--orange-text-color);
}
.hero-list__item:focus {
  color: var(--orange-text-color);
  text-shadow: 0.05em 0 var(--gray-text-color), -0.05em 0 var(--gray-text-color), 0 0.05em var(--gray-text-color), 0 -0.05em var(--gray-text-color);
}
@media screen and (min-width: 1200px) {
  .hero-list__item {
    font-size: 24px;
    line-height: 36px;
  }
}

.hero__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__list {
    width: 324px;
    height: 75px;
    margin-bottom: 62px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero__list {
    gap: 24px;
    width: 513px;
    height: 113px;
  }
}

#select-2 {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  #select-2 {
    display: none;
  }
}

.product {
  padding-top: 20px;
  padding-bottom: 60px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .product {
    width: 768px;
    padding-top: 55px;
  }
}
@media screen and (min-width: 1280px) {
  .product {
    min-width: 1280px;
    padding-top: 52.5px;
  }
}
.product__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.9;
  text-align: center;
  color: var(--black-bg-color);
}
@media screen and (min-width: 768px) {
  .product__title {
    font-size: 32px;
    line-height: 1.31;
  }
}
@media screen and (min-width: 1280px) {
  .product__title {
    font-size: 48px;
    line-height: 1.5;
  }
}
.product__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.product__wraper {
  border: 1px solid var(--orange-text-color);
  border-radius: 4px;
}
.product__wraper:hover .product__subtitle {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product__wraper:focus .product__subtitle {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product__image {
  width: 280px;
  height: 280px;
}
@media screen and (min-width: 768px) {
  .product__image {
    width: 335px;
    height: 394px;
  }
}
@media screen and (min-width: 1200px) {
  .product__image {
    width: 395px;
    height: 395px;
  }
}
.product__description-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 21px 24px;
  gap: 16px;
}
.product__subtitle {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  color: var(--black-bg-color);
  transition: 0.3s;
}
.product__buttons {
  display: flex;
  flex-direction: row;
  gap: 19px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.02em;
}
.product__heart-wraper {
  margin-left: 8px;
  position: relative;
  width: 19px;
  height: 17px;
}
.product__big-icon--add {
  fill: var(--orange-text-color);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
}
.product__small-icon--add {
  fill: var(--white-bg-color);
  position: absolute;
  left: 2;
  top: 1.79;
  transition: 0.3s;
}
.product__big-icon--remove {
  fill: var(--orange-text-color);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
}
.product__small-icon--remove {
  fill: var(--orange-text-color);
  position: absolute;
  left: 2;
  top: 1.79;
  transition: 0.3s;
}
.product__empty-state {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 22px;
  line-height: 1.91;
  text-align: center;
  color: #202025;
}
@media screen and (min-width: 768px) {
  .product__empty-state {
    font-weight: 700;
    max-width: 331px;
    font-size: 32px;
    line-height: 1.31;
  }
}
@media screen and (min-width: 1200px) {
  .product__empty-state {
    line-height: 1.5;
    max-width: 493px;
    font-size: 48px;
  }
}
.product__empty-image {
  width: 280px;
  height: 308px;
}
@media screen and (min-width: 768px) {
  .product__empty-image {
    width: 345px;
    height: 380px;
  }
}

.pagination {
  width: 286px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  margin-top: 45px;
  margin-bottom: 37px;
}
@media screen and (min-width: 480px) {
  .pagination {
    width: 440px;
  }
}
@media screen and (min-width: 768px) {
  .pagination {
    width: 397px;
  }
}
@media screen and (min-width: 1200px) {
  .pagination {
    width: 1200px;
  }
}

.extreme {
  color: var(--number-color);
  padding: 8px 16px;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 50%;
}

.pagination button {
  padding: 0;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 2px;
}
@media screen and (min-width: 768px) {
  .pagination button {
    margin: 0 4px;
    width: 40px;
    height: 40px;
  }
}

.pagination-item {
  color: var(--number-color);
  padding: 7px 9px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid var(--orange-text-color);
  border-radius: 50%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
@media screen and (min-width: 768px) {
  .pagination-item {
    font-size: 16px;
    padding: 8px 12px;
  }
}
@media screen and (min-width: 1200px) {
  .pagination-item {
    width: 1200px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.pagination a.active {
  background-color: var(--orange-text-color);
  color: white;
  border: 1px solid var(--orange-text-color);
}

.pagination a:hover:not(.active) {
  background-color: var(--orange-text-color);
  color: var(--white-bg-color);
  transition: 0.3s;
}

.footer__container {
  height: 110px;
  background-color: var(--orange-text-color);
}

.logo {
  padding-top: 20px;
  padding-left: 20px;
  weight: 400;
  color: var(--white-bg-color);
}

.span {
  color: black;
}/*# sourceMappingURL=main.css.map */