.header {


    @media screen and (min-width: 768px) {
        // padding-top: 20px;
    }

    @media screen and (min-width: 1200px) {
        // padding-top: 8px;
    }
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
margin-top: 20px;
    
}

.div-container__left{
    display: flex;
}
.logo__link{
position: relative;
}
.logo__link-svg{
    top: 10px;
    position: absolute;
        top: -19px;
        right: 18px;
}
.logo {
font-weight: 400;
font-size: 22px;
line-height: 109%;
letter-spacing: 0.02em;
@media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 89%
    }

color: #FD5103;
//     &:before{
//     position: absolute;
//         content: '';
//     background-image: url('../images/header_img/cocktail.png');
//     background-color: transparent;
//         background-size: contain;
//         background-repeat: no-repeat;
//     fill: linear-gradient(180deg, #FD6750 0%, #FFEB1F 78.95%);
// }
}
// .logo__link-svg{
//     position: absolute;
//     top: -5px;
//     right: 1190px;
//     fill: linear-gradient(180deg, #FD6750 0%, #FFEB1F 78.95%);
// }




.div-container__right{
    display: flex;
   
    
}
// **********************nav-site*********************
.site-nav { 
    @media screen and (max-width: 1200px) {
        display: none;
        }
    display: flex;
    margin-left: 43px;}

.site-nav__list {
    display: flex;
}

.site-nav__item {
    margin-right: 60px;
}

.site-nav__link {
    font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        letter-spacing: 0.02em;
        color: #202025;
}

//   -----------------------------Инпут----------------
.search-container__form {
    @media screen and (max-width: 767px) {
        display: none;
    }
margin-right: 40px;
display: flex;
    width: 288px;
    height: 40px;

        border: 1px solid #FD5103;
        border-radius: 4px;
}


.search-btn {
    background-color: transparent;
  
    border: transparent;
}
.imput__header{ 
     border-left: 1px solid #fd5103;
     width: 100%;
     border-right-color: transparent;
     border-top-color: transparent;
     border-bottom-color: transparent;
}

// *************mob menu*************

.mob-menu__btn{
    @media screen and (min-width: 1199px) {
            display: none;
        }
    background-color: transparent;
    border-color: transparent;

}
.mob-menu__svg{
    align-self: center;
}
