.nav__menu {
  color: var(--gray-text-color);
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    padding: 0px 20px;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0px 33px;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    height: 100%;
  }
}

.button {
  padding: 7px 17px 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  outline: 0;
  border: 1px solid var(--orange-text-color);
}
.button__learn-more {
  background-color: var(--orange-auxiliry-color);
  color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.button__learn-more:hover {
  background-color: #f5f5f5;
  color: var(--orange-text-color);
  border: 1px solid #f5f5f5;
}
.button__learn-more:focus {
  background-color: #f5f5f5;
  color: var(--orange-text-color);
  border: 1px solid #f5f5f5;
}
.button__learn-more:active {
  background-color: var(--orange-text-color);
  color: #ffffff;
  border: 1px solid var(--orange-text-color);
}
.button__add-or-remove {
  background-color: var(--white-bg-color);
  color: var(--orange-text-color);
}
.button__add-or-remove:hover {
  background-color: #f5f5f5;
  color: var(--orange-text-color);
  border: 1px solid #ff8650;
}
.button__add-or-remove:focus {
  background-color: #f5f5f5;
  color: var(--orange-text-color);
  border: 1px solid #ff8650;
}
.button__add-or-remove:active {
  background-color: var(--white-bg-color);
  color: #fd5103;
  border: 1px solid var(--orange-text-color);
}
.button__add-or-remove:active .product__small-icon--add {
  fill: #fd5103;
}
.button__add-or-remove:active .product__small-icon--remove {
  fill: #fcfcfc;
}

.product {
  display: flex;
  flex-flow: column wrap;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}
.product__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.91;
  text-align: center;
  color: var(--black-bg-color);
}
.product__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.product__wraper {
  border: 1px solid var(--orange-text-color);
  border-radius: 4px;
}
.product__description-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 21px 24px;
  gap: 16px;
}
.product__subtitle {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  color: #202025;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product__buttons {
  display: flex;
  flex-direction: row;
  gap: 19px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.02em;
}
.product__heart-wraper {
  margin-left: 8px;
  position: relative;
  width: 19px;
  height: 17px;
}
.product__big-icon--add {
  fill: #fd5103;
  position: absolute;
  left: 0;
  top: 0;
}
.product__small-icon--add {
  fill: #fcfcfc;
  position: absolute;
  left: 2;
  top: 1.79;
}
.product__big-icon--remove {
  fill: #fd5103;
  position: absolute;
  left: 0;
  top: 0;
}
.product__small-icon--remove {
  fill: #fd5103;
  position: absolute;
  left: 2;
  top: 1.79;
}/*# sourceMappingURL=main.css.map */