<div class="modal-ingredient__backdrop is-hidden2" data-modal-ingredient>
  <div class="modal-ingredient">
    <button class="modal__close-btn" data-modal-ingredient-close>
      <svg class="modal__close-svg">
        <use href="./images/svg/icons.svg#menu-close"></use>
      </svg>
    </button>
    <!-- <h3 class="modal-ingredient__title">Campari</h3>
    <h4 class="modal-ingredient__subtitle">Liqueur</h4>
    <hr class="modal-ingredient__line" />
    <p class="modal-ingredient__description">
      <span class="modal-ingredient__name-span">Campari</span> is an Italian
      alcoholic liqueur, considered an apéritif (20.5%, 21%, 24%, 25%, or 28.5%
      ABV, depending on the country in which it is sold), obtained from the
      infusion of herbs and fruit (including chinotto and cascarilla) in alcohol
      and water. It is a bitters, characterised by its dark red colour.
    </p>
    <ul class="modal-ingredient__list list">
      <li class="modal-ingredient__item">Type: Bitters</li>
      <li class="modal-ingredient__item">Country of origin: Italy</li>
      <li class="modal-ingredient__item">Alcohol by volume: 20.5–28.5%</li>
      <li class="modal-ingredient__item">Flavour: Bitter, spicy and sweet</li>
    </ul>
    <div class="modal-ingredient__button">
      <button type="button" class="button__add-or-remove--modal">
        Add to favorite
      </button> -->
    <!-- Как прописать кнопку Remove from favorite?-->
    <!-- </div> -->
  </div>
</div>
