<section class="section-cocktails">
  <div class="container product">
    <h2 class="product__title">Cocktails</h2>
    <!-- <p class="product__empty-state">
      Sorry, we didn't find any cocktail for you
    </p>
    <picture>
      <source
        srcset="
          ./images/cocktails/pc/pc-x1/empty-state-1x.png 1x,
          ./images/cocktails/pc/pc-x2/empty-state-2x.png 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/cocktails/fablet/fablet-x1/empty-state-1x.png 1x,
          ./images/cocktails/fablet/fablet-x2/empty-state-2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/cocktails/phone/phone-x1/empty-state-1x.png 1x,
          ./images/cocktails/phone/phone-x2/empty-state-2x.png 2x
        "
        media="(max-width:767px)"
      />
      <img
        class="product__empty-image"
        src="./images/cocktails/phone/phone-x1/empty-state-1x.png"
        alt="cocktail"
        width="280"
        height="308"
      />
    </picture> -->
    <ul class="product__list">
      <li class="product__item">
        <div class="product__wraper">
          <div class="product__image-part">
            <picture>
              <source
                srcset="
                  ./images/cocktails/pc/pc-x1/vampiro.jpg 1x,
                  ./images/cocktails/pc/pc-x2/vampiro.jpg 2x
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ./images/cocktails/fablet/fablet-x1/vampiro.jpg 1x,
                  ./images/cocktails/fablet/fablet-x2/vampiro.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/cocktails/phone/phone-x1/vampiro.jpg 1x,
                  ./images/cocktails/phone/phone-x2/vampiro.jpg 2x
                "
                media="(max-width:767px)"
              />
              <img
                class="product__image"
                src="./images/cocktails/phone/phone-x1/vampiro.jpg"
                alt="cocktail"
                width="280"
                height="280"
              />
            </picture>
          </div>

          <div class="product__description-part">
            <h3 class="product__subtitle">Vampiro</h3>
            <div class="product__buttons">
              <button class="button button__learn-more">Learn more</button>
              <button class="button button__remove">
                Remove
                <div class="product__heart-wraper">
                  <svg class="product__big-icon--remove" width="19" height="17">
                    <use href="./images/svg/icons.svg#big-heart"></use>
                  </svg>
                  <svg
                    class="product__small-icon--remove"
                    width="15.38"
                    height="13.42"
                  >
                    <use href="./images/svg/icons.svg#small-heart"></use>
                  </svg>
                </div>
              </button>
            </div>
          </div>
        </div>
      </li>
      <li class="product__item">
        <div class="product__wraper">
          <div class="product__image-part">
            <picture>
              <source
                srcset="
                  ./images/cocktails/pc/pc-x1/amaretto-sunrise.jpg 1x,
                  ./images/cocktails/pc/pc-x2/amaretto-sunrise.jpg 2x
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ./images/cocktails/fablet/fablet-x1/amaretto-sunrise.jpg 1x,
                  ./images/cocktails/fablet/fablet-x2/amaretto-sunrise.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/cocktails/phone/phone-x1/amaretto-sunrise.jpg 1x,
                  ./images/cocktails/phone/phone-x2/amaretto-sunrise.jpg 2x
                "
                media="(max-width:767px)"
              />
              <img
                class="product__image"
                src="./images/cocktails/phone/phone-x1/amaretto-sunrise.jpg"
                alt="cocktail"
                width="280"
                height="280"
              />
            </picture>
          </div>

          <div class="product__description-part">
            <h3 class="product__subtitle">Amaretto Sunrise</h3>
            <div class="product__buttons">
              <button class="button button__learn-more">Learn more</button>
              <button class="button button__add">
                Add to
                <div class="product__heart-wraper">
                  <svg class="product__big-icon--add" width="19" height="17">
                    <use href="./images/svg/icons.svg#big-heart"></use>
                  </svg>
                  <svg
                    class="product__small-icon--add"
                    width="15.38"
                    height="13.42"
                  >
                    <use href="./images/svg/icons.svg#small-heart"></use>
                  </svg>
                </div>
              </button>
            </div>
          </div>
        </div>
      </li>
      <li class="product__item">
        <div class="product__wraper">
          <div class="product__image-part">
            <picture>
              <source
                srcset="
                  ./images/cocktails/pc/pc-x1/apello.jpg 1x,
                  ./images/cocktails/pc/pc-x2/apello.jpg 2x
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ./images/cocktails/fablet/fablet-x1/apello.jpg 1x,
                  ./images/cocktails/fablet/fablet-x2/apello.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/cocktails/phone/phone-x1/apello.jpg 1x,
                  ./images/cocktails/phone/phone-x2/apello.jpg 2x
                "
                media="(max-width:767px)"
              />
              <img
                class="product__image"
                src="./images/cocktails/phone/phone-x1/apello.jpg"
                alt="cocktail"
                width="280"
                height="280"
              />
            </picture>
          </div>

          <div class="product__description-part">
            <h3 class="product__subtitle">Apello</h3>
            <div class="product__buttons">
              <button class="button button__learn-more">Learn more</button>
              <button class="button button__add-or-remove">
                Add to
                <div class="product__heart-wraper">
                  <svg class="product__big-icon--add" width="19" height="17">
                    <use href="./images/svg/icons.svg#big-heart"></use>
                  </svg>
                  <svg
                    class="product__small-icon--add"
                    width="15.38"
                    height="13.42"
                  >
                    <use href="./images/svg/icons.svg#small-heart"></use>
                  </svg>
                </div>
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
