
 <section class="hero container" >
      <h1 class="hero__tittle">A party without cocktails is not like a party</h1>
      <picture >
        <source srcset=" 
        ./images/hero-two@d1x.png 1x, 
        ./images/hero-two@d2x.png 2x"
        media="(min-width:1200px)"/> 
        <source srcset="
         ./images/hero-two@t1x.png 1x,
         ./images/hero-two@t2x.png 2x"
          media="(min-width:768px)"/>
        <source srcset="
         ./images/hero-two@m1x.png 1x,
        ./images/hero-two@m2x.png 2x"
         media="(min-width:480px)"/> 
        <img class="hero__img"
        src= "./images/hero-two@m1x.png"
        alt="Photo tasty coctailes" class=""
        />
      </picture>
      <p class="hero__text">Search your favorite cocktail by ABC</p>
      <ul class="hero__list">
        <li><a class="hero-list__item" href="#">A</a></li>
        <li><a class="hero-list__item" href="#">B</a></li>
        <li><a class="hero-list__item" href="#">C</a></li>
        <li><a class="hero-list__item" href="#">D</a></li>
        <li><a class="hero-list__item" href="#">E</a></li>
        <li><a class="hero-list__item" href="#">F</a></li>
        <li><a class="hero-list__item" href="#">G</a></li>
        <li><a class="hero-list__item" href="#">H</a></li>
        <li><a class="hero-list__item" href="#">I</a></li>
        <li><a class="hero-list__item" href="#">J</a></li>
        <li><a class="hero-list__item" href="#">K</a></li>
        <li><a class="hero-list__item" href="#">L</a></li>
        <li><a class="hero-list__item" href="#">M</a></li>
        <li><a class="hero-list__item" href="#">N</a></li>
        <li><a class="hero-list__item" href="#">O</a></li>
        <li><a class="hero-list__item" href="#">P</a></li>
        <li><a class="hero-list__item" href="#">R</a></li>
        <li><a class="hero-list__item" href="#">S</a></li>
        <li><a class="hero-list__item" href="#">T</a></li>
        <li><a class="hero-list__item" href="#">Q</a></li>
        <li><a class="hero-list__item" href="#">U</a></li>
        <li><a class="hero-list__item" href="#">V</a></li>
        <li><a class="hero-list__item" href="#">W</a></li>
        <li><a class="hero-list__item" href="#">X</a></li>
        <li><a class="hero-list__item" href="#">Y</a></li>
        <li><a class="hero-list__item" href="#">Z</a></li>
        <li><a class="hero-list__item" href="#">1</a></li>
        <li><a class="hero-list__item" href="#">2</a></li>
        <li><a class="hero-list__item" href="#">3</a></li>
        <li><a class="hero-list__item" href="#">4</a></li>
        <li><a class="hero-list__item" href="#">5</a></li>
        <li><a class="hero-list__item" href="#">6</a></li>
        <li><a class="hero-list__item" href="#">7</a></li>
        <li><a class="hero-list__item" href="#">8</a></li>
        <li><a class="hero-list__item" href="#">9</a></li>
        <li><a class="hero-list__item" href="#">0</a></li>
      </ul>
      <div id="select-2"></div>
    </section>
    <!-- <script src="./js/hero-select-m.js" type="module"></script>
    <script src="./js/hero.js" type="module"></script> -->