<div class="paginator"></div>
<button type="button" class="pagination-buttton first_vector">
    <svg class="pagination-buttton__svg" width="8" height="13">
      <use
        class="pagination-buttton__use gray"
        href="./images/svg/icons.svg#arrow-left"
      ></use>
    </svg>
  </button>

  <button type="button" class="pagination-buttton">
    <svg class="pagination-buttton__svg" width="8" height="13">
      <use
        class="pagination-buttton__use black"
        href="./images/svg/icons.svg#arrow-right"
      ></use>
    </svg>
  </button>