<div class="pagination container">
  <!-- <button type="button"><a href="#" class="extreme"><</a></button> -->
  <button type="button"><a href="#" class="pagination-item">1</a></button>
  <button type="button"><a href="#" class="pagination-item">2</a></button>
  <button type="button"><a href="#" class="points">...</a></button>
  <button type="button"><a href="#" class="pagination-item">3</a></button>
  <button type="button"><a href="#" class="pagination-item">4</a></button>
  <button type="button"><a href="#" class="pagination-item">5</a></button>
  <!-- <button type="button"><a href="#" class="extreme">></a></button> -->
</div> 