.footer__container {
    height: 110px;
    background-color: var(--orange-text-color);
}
.logo {
    padding-top: 20px;
    padding-left: 20px;
    weight: 400;
    color: var(--white-bg-color);
}
.span {
    color: black;
}
