.itc-select {
  position: relative;
  width: 93px;
  height: 34px;
  margin-left: auto;
  margin-right: auto;

  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: var(--gray-text-color);
}

.itc-select__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 6px 10px;
  font-size: 16px;

  line-height: 1.4;
  background-color: #fff;
  color: var(--orange-text-color);
  border: 1px solid var(--orange-text-color);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.itc-select__toggle:hover {
  background-color: var(--orange-text-color);
  color: var(--white-bg-color);
}

#text {
  color: #fd5103;
}

.itc-select__toggle::after {
  flex-shrink: 0;
  width: 20px;
  height: 12px;
  margin-top: 3px;
  background-image: url('/src/images/Vector_dovn.png');
  background-size: cover;
  content: '';
  color: var(--orange-text-color);
}

.itc-select__toggle:focus {
  outline: none;
}

.itc-select_show .itc-select__toggle::after {
  transform: rotate(180deg);
}

.itc-select__dropdown {
  position: absolute;
  top: 2.5rem;
  right: 0;
  left: 0;
  z-index: 2;
  display: none;
  max-height: 5rem;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid var(--orange-text-color);
  border-radius: 4px;


}

.itc-select_show .itc-select__dropdown {
  display: block;
}

.itc-select_show .itc-select__backdrop {
  display: block;
}

.itc-select__options {
  margin: 0;
  padding: 0;
  list-style: none;
}

.itc-select__option {
  padding: 0.375rem 0.75rem;
}

.itc-select__option_selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e1f5fe;
}

.itc-select__option_selected::after {
  width: 0.75rem;
  height: 0.75rem;
  color: #0277bd;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="svg-inline--fa fa-check fa-w-16" data-icon="check" data-prefix="fas" aria-hidden="true"%3E%3Cpath d="M33.964 85.547l-32.5-32.251a4.935 4.935 0 010-7.017l7.071-7.017a5.027 5.027 0 017.071 0L37.5 60.987l46.894-46.534a5.028 5.028 0 017.07 0l7.072 7.017a4.935 4.935 0 010 7.017l-57.5 57.06a5.027 5.027 0 01-7.072 0z" fill="%230277bd"/%3E%3C/svg%3E');
  background-size: cover;
  content: '';
}

.itc-select__option:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
}
